html {
  font-family: 'Arial', sans-serif;
}

textarea {
  width: 300px;
  height: 100px;
}

p {
  width: 300px;
}

.active {
  color: #222;
  border-bottom: 2px solid rgb(13, 100, 242);
}

.inactive {
  color: #999;
}
